In [4]:
# Import dependencies.
import pandas as pd

In [2]:
# Save each CSV file path into a variable.
netflix_csv = '../csv/original_data/netflix_titles.csv'
hulu_csv = '../csv/original_data/hulu_titles.csv'
disney_plus_csv = '../csv/original_data/disney_plus_titles.csv'
amazon_prime_csv = '../csv/original_data/amazon_prime_titles.csv'

In [3]:
# Read each CSV file into a DataFrame.
netflix_data = pd.read_csv(netflix_csv)
hulu_data = pd.read_csv(hulu_csv)
disney_plus_data = pd.read_csv(disney_plus_csv)
amazon_prime_data = pd.read_csv(amazon_prime_csv)

# Netflix

In [4]:
# Check data types.
netflix_data.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [5]:
# Preview data.
netflix_data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [6]:
# Replace month names with their respective numbers, and delete spaces and commas so that we may convert each date
# into datetime format.
netflix_data['date_added'] = netflix_data['date_added'].str.replace('January', '01')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('February', '02')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('March', '03')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('April', '04')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('May', '05')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('June', '06')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('July', '07')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('August', '08')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('September', '09')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('October', '10')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('November', '11')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('December', '12')
netflix_data['date_added'] = netflix_data['date_added'].str.replace(' ', '')
netflix_data['date_added'] = netflix_data['date_added'].str.replace(',', '')

In [7]:
# Convert 'date_added' column into datetime format.
netflix_data['date_added'] = pd.to_datetime(netflix_data['date_added'], format='%m%d%Y')

In [8]:
netflix_platform = 'Netflix'
netflix_data['platform'] = netflix_platform

In [9]:
# Check data summary.
netflix_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   datetime64[ns]
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
 12  platform      8807 non-null   object
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 894.6+ KB

# Hulu

In [10]:
# Check data types.
hulu_data.dtypes

show_id          object
type             object
title            object
director         object
cast            float64
country          object
date_added       object
release_year      int64
rating           object
duration         object
listed_in        object
description      object
dtype: object

In [11]:
# Preview data.
hulu_data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...
...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,TV Show,Star Trek: The Original Series,NaN,NaN,United States,NaN,1966,TV-PG,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...
3069,s3070,TV Show,Star Trek: Voyager,NaN,NaN,United States,NaN,1997,TV-PG,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...
3070,s3071,TV Show,The Fades,NaN,NaN,United Kingdom,NaN,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...
3071,s3072,TV Show,The Twilight Zone,NaN,NaN,United States,NaN,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...
3072,s3073,TV Show,Tokyo Magnitude 8.0,NaN,NaN,Japan,NaN,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...

In [12]:
# Replace month names with their respective numbers, and delete spaces and commas so that we may convert each date
# into datetime format.
hulu_data['date_added'] = hulu_data['date_added'].str.replace('January', '01')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('February', '02')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('March', '03')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('April', '04')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('May', '05')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('June', '06')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('July', '07')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('August', '08')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('September', '09')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('October', '10')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('November', '11')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('December', '12')
hulu_data['date_added'] = hulu_data['date_added'].str.replace(' ', '')
hulu_data['date_added'] = hulu_data['date_added'].str.replace(',', '')

In [13]:
# Convert 'date_added' column into datetime format.
hulu_data['date_added'] = pd.to_datetime(hulu_data['date_added'], format='%m%d%Y')

In [14]:
hulu_platform = 'Hulu'
hulu_data['platform'] = hulu_platform

In [15]:
# Check data summary.
hulu_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   datetime64[ns]
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
 12  platform      3073 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(10)
memory usage: 312.2+ KB

# Disney Plus

In [16]:
# Check data types.
disney_plus_data.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [17]:
# Preview data.
disney_plus_data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...
...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom","June 4, 2021",2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada","April 2, 2021",2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum..."
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.

In [18]:
# Replace month names with their respective numbers, and delete spaces and commas so that we may convert each date
# into datetime format.
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('January', '01')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('February', '02')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('March', '03')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('April', '04')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('May', '05')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('June', '06')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('July', '07')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('August', '08')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('September', '09')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('October', '10')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('November', '11')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('December', '12')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace(' ', '')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace(',', '')

In [19]:
# Convert 'date_added' column into datetime format.
disney_plus_data['date_added'] = pd.to_datetime(disney_plus_data['date_added'], format='%m%d%Y')

In [20]:
disney_plus_platform = 'Disney Plus'
disney_plus_data['platform'] = disney_plus_platform

In [21]:
# Check data summary.
disney_plus_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   datetime64[ns]
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
 12  platform      1450 non-null   object
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 147.4+ KB

# Amazon Prime

In [22]:
# Check data types.
amazon_prime_data.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [23]:
# Preview data.
amazon_prime_data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...
9664,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaN,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve..."
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou..."
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [24]:
# Replace month names with their respective numbers, and delete spaces and commas so that we may convert each date
# into datetime format.
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('January', '01')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('February', '02')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('March', '03')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('April', '04')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('May', '05')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('June', '06')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('July', '07')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('August', '08')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('September', '09')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('October', '10')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('November', '11')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('December', '12')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace(' ', '')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace(',', '')

In [25]:
# Convert 'date_added' column into datetime format.
amazon_prime_data['date_added'] = pd.to_datetime(amazon_prime_data['date_added'], format='%m%d%Y')

In [26]:
amazon_prime_platform = 'Amazon Prime'
amazon_prime_data['platform'] = amazon_prime_platform

In [27]:
# Check data summary.
amazon_prime_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    datetime64[ns]
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
 12  platform      9668 non-null   object
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 982.0+ KB

# Export all 4 datasets as cleaned CSVs

In [28]:
netflix_data.to_csv('../csv/cleaned_data/netflix.csv', index=False)
hulu_data.to_csv('../csv/cleaned_data/hulu.csv', index=False)
disney_plus_data.to_csv('../csv/cleaned_data/disney_plus.csv', index=False)
amazon_prime_data.to_csv('../csv/cleaned_data/amazon_prime.csv', index=False)

# Import all 4 datasets into MongoDB

In [2]:
# Import dependencies.
import pymongo
import json
import csv

In [ ]:
# Make a connection to MongoDB.
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'project_3' database in MongoDB.
db = client.project_3

# Define the header.
header = ['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 
         'genres', 'description']

In [ ]:
#Convert CSV to JSON for Netflix data.
csvfile = open('../csv/cleaned_data/netflix.csv', 'r', encoding="utf8")
reader = csv.DictReader(csvfile)

for each in reader:
    row = {}
    for field in header:
        row[field] = each[field]
 
    # Upload each row of data to 'netflix' collection in the DB.
    db.netflix.insert_one(row)

In [ ]:
#Convert CSV to JSON for Hulu data.
csvfile = open('../csv/cleaned_data/hulu.csv', 'r', encoding="utf8")
reader = csv.DictReader(csvfile)

for each in reader:
    row = {}
    for field in header:
        row[field] = each[field]
 
    # Upload each row of data to 'hulu' collection in the DB.
    db.hulu.insert_one(row)

In [ ]:
#Convert CSV to JSON for Disney Plus data.
csvfile = open('../csv/cleaned_data/disney_plus.csv', 'r', encoding="utf8")
reader = csv.DictReader(csvfile)

for each in reader:
    row = {}
    for field in header:
        row[field] = each[field]
 
    # Upload each row of data to 'disney_plus' collection in the DB.
    db.disney_plus.insert_one(row)

In [ ]:
#Convert CSV to JSON for Amazon Prime data.
csvfile = open('../csv/cleaned_data/amazon_prime.csv', 'r', encoding="utf8")
reader = csv.DictReader(csvfile)

for each in reader:
    row = {}
    for field in header:
        row[field] = each[field]
 
    # Upload each row of data to 'amazon_prime' collection in the DB.
    db.amazon_prime.insert_one(row)

# Rotten Tomatoes File Introduction

In [5]:
# Save the Rotten Tomatoes CSV file path and read it into a DataFrame.
rotten_csv = '../csv/original_data/MoviesOnStreamingPlatforms.csv'

rotten_df = pd.read_csv(rotten_csv)

# Save each cleaned CSV file path into a variable.
netflix_cleaned = '../csv/cleaned_data/netflix.csv'
hulu_cleaned = '../csv/cleaned_data/hulu.csv'
disney_plus_cleaned = '../csv/cleaned_data/disney_plus.csv'
amazon_prime_cleaned = '../csv/cleaned_data/amazon_prime.csv'

# Read each cleaned CSV file into a DataFrame.
netflix_df = pd.read_csv(netflix_cleaned)
hulu_df = pd.read_csv(hulu_cleaned)
disney_plus_df = pd.read_csv(disney_plus_cleaned)
amazon_prime_df = pd.read_csv(amazon_prime_cleaned)

In [6]:
# Take out '/100' from Rotten Tomatoes scores.
rotten_df['Rotten Tomatoes'] = rotten_df['Rotten Tomatoes'].str.replace('/100', '')

In [7]:
# Drop unnecessary columns.
rotten_df = rotten_df.drop(columns=['Age', 'Type', 'Unnamed: 0', 'Year'])

In [8]:
# Check data summary.
rotten_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9515 entries, 0 to 9514
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               9515 non-null   int64
 1   Title            9515 non-null   object
 2   Rotten Tomatoes  9508 non-null   object
 3   Netflix          9515 non-null   int64
 4   Hulu             9515 non-null   int64
 5   Prime Video      9515 non-null   int64
 6   Disney+          9515 non-null   int64
dtypes: int64(5), object(2)
memory usage: 520.5+ KB

In [9]:
# Drop all rows that do not have Rotten Tomatoes scores.
rotten_df = rotten_df.dropna()

In [10]:
# Check data summary.
rotten_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9508 entries, 0 to 9514
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               9508 non-null   int64
 1   Title            9508 non-null   object
 2   Rotten Tomatoes  9508 non-null   object
 3   Netflix          9508 non-null   int64
 4   Hulu             9508 non-null   int64
 5   Prime Video      9508 non-null   int64
 6   Disney+          9508 non-null   int64
dtypes: int64(5), object(2)
memory usage: 594.2+ KB

In [11]:
# Preview data.
rotten_df

,ID,Title,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+
0,1,The Irishman,98,1,0,0,0
1,2,Dangal,97,1,0,0,0
2,3,David Attenborough: A Life on Our Planet,95,1,0,0,0
3,4,Lagaan: Once Upon a Time in India,94,1,0,0,0
4,5,Roma,94,1,0,0,0
...,...,...,...,...,...,...,...
9510,9511,Most Wanted Sharks,14,0,0,0,1
9511,9512,Doc McStuffins: The Doc Is In,13,0,0,0,1
9512,9513,Ultimate Viking Sword,13,0,0,0,1
9513,9514,Hunt for the Abominable Snowman,10,0,0,0,1
9514,9515,Women of Impact: Changing the World,10,0,0,0,1

In [12]:
# Join our four cleaned datasets into one.
combined_df = pd.concat([netflix_df, hulu_df, disney_plus_df, amazon_prime_df], ignore_index=True)

In [13]:
# Drop the 'show_id' column.
combined_df = combined_df.drop(columns=['show_id'])

In [14]:
# Rename 'title' column to 'Title' for purposes of merging combined_df with rotten_df.
combined_df = combined_df.rename(columns={'title': 'Title'})

In [15]:
combined_df

,type,Title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix
3,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix
4,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...
22993,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...,Amazon Prime
22994,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaN,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve...",Amazon Prime
22995,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...",Amazon Prime
22996,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ...",Amazon Prime
22997,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",Amazon Prime

In [16]:
# Merge combined_df with rotten_df.
merged_df = rotten_df.merge(combined_df, how='inner', on='Title')

In [17]:
merged_df

,ID,Title,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,1,The Irishman,98,1,0,0,0,Movie,Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",United States,2019-11-27,2019,R,209 min,Dramas,Hit man Frank Sheeran looks back at the secret...,Netflix
1,2,Dangal,97,1,0,0,0,Movie,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",India,2017-06-21,2016,TV-PG,161 min,"Dramas, International Movies, Sports Movies",A once-promising wrestler pursues the gold med...,Netflix
2,3,David Attenborough: A Life on Our Planet,95,1,0,0,0,Movie,"Alastair Fothergill, Jonnie Hughes, Keith Scholey",David Attenborough,"United States, United Kingdom",2020-10-04,2020,PG,84 min,Documentaries,"A broadcaster recounts his life, and the evolu...",Netflix
3,7,The Social Dilemma,93,1,0,0,0,Movie,Jeff Orlowski,"Skyler Gisondo, Kara Hayward, Vincent Kartheiser",United States,2020-09-09,2020,PG-13,94 min,Documentaries,This documentary-drama hybrid explores the dan...,Netflix
4,8,Okja,92,1,0,0,0,Movie,Bong Joon Ho,"Tilda Swinton, Jake Gyllenhaal, An Seo Hyun, P...","South Korea, United States",2017-06-28,2017,TV-MA,121 min,"Action & Adventure, Comedies, Dramas",A gentle giant and the girl who raised her are...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6987,9511,Most Wanted Sharks,14,0,0,0,1,Movie,NaN,NaN,NaN,2020-07-24,2020,NaN,NaN,"Documentaries, Science & Technology","Whether it's the biggest great white, the most...",Hulu
6988,9511,Most Wanted Sharks,14,0,0,0,1,Movie,NaN,NaN,NaN,2021-07-16,2020,TV-PG,44 min,"Animals & Nature, Documentary","In Most Wanted Sharks, Jeremiah Sullivan dives...",Disney Plus
6989,9512,Doc McStuffins: The Doc Is In,13,0,0,0,1,Movie,Chris Hamilton,"Laya DeLeon Hayes, Loretta Devine, Lara Jill M...",NaN,2021-03-12,2020,TV-Y,24 min,"Animation, Kids, Medical",Doc McStuffins helps kids learn about healthy ...,Disney Plus
6990,9513,Ultimate Viking Sword,13,0,0,0,1,Movie,Peter Yost,Jay Sanders,NaN,2020-11-13,2019,TV-PG,45 min,"Documentary, Historical","National Geographic reconstructs the Ulfberht,...",Disney Plus
6991,9514,Hunt for the Abominable Snowman,10,0,0,0,1,Movie,Dan Oliver,Stephen Rashbrook,NaN,2020-07-31,2011,TV-PG,45 min,Documentary,"Across the Himalayas are stories of the yeti, ...",Disney Plus

In [18]:
# Drop unnecessary columns.
merged_df = merged_df.drop(columns=['Netflix', 'Hulu', 'Prime Video', 'Disney+', 'ID'])

In [19]:
# Check value counts for each platform.
merged_df['platform'].value_counts()

Netflix         3259
Amazon Prime    2303
Disney Plus      737
Hulu             693
Name: platform, dtype: int64

In [20]:
# Change Rotten Tomatoes scores to an integer data type.
merged_df['Rotten Tomatoes'] = merged_df['Rotten Tomatoes'].astype(int)

In [21]:
# Rename columns for uniformity's sake.
merged_df = merged_df.rename(columns={'Title': 'title', 'Rotten Tomatoes': 'score', 
                                      'date_added': 'added', 'release_year': 'release'})

In [22]:
# Check data summary.
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6992 entries, 0 to 6991
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        6992 non-null   object
 1   score        6992 non-null   int32
 2   type         6992 non-null   object
 3   director     6140 non-null   object
 4   cast         5931 non-null   object
 5   country      4477 non-null   object
 6   added        4698 non-null   object
 7   release      6992 non-null   int64
 8   rating       6742 non-null   object
 9   duration     6825 non-null   object
 10  listed_in    6992 non-null   object
 11  description  6992 non-null   object
 12  platform     6992 non-null   object
dtypes: int32(1), int64(1), object(11)
memory usage: 737.4+ KB

In [23]:
# Check the movie and tv show value counts.
merged_df['type'].value_counts()

Movie      6956
TV Show      36
Name: type, dtype: int64

In [24]:
# Drop rows of tv shows.
merged_df = merged_df.drop(merged_df[merged_df['type'] == 'TV Show'].index)

In [25]:
# Check data summary.
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6956 entries, 0 to 6991
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        6956 non-null   object
 1   score        6956 non-null   int32
 2   type         6956 non-null   object
 3   director     6138 non-null   object
 4   cast         5907 non-null   object
 5   country      4469 non-null   object
 6   added        4680 non-null   object
 7   release      6956 non-null   int64
 8   rating       6708 non-null   object
 9   duration     6789 non-null   object
 10  listed_in    6956 non-null   object
 11  description  6956 non-null   object
 12  platform     6956 non-null   object
dtypes: int32(1), int64(1), object(11)
memory usage: 733.6+ KB

In [26]:
# Drop 'type' column.
merged_df = merged_df.drop(columns=['type'])

In [27]:
# Reset the index.
merged_df = merged_df.reset_index(drop=True)
merged_df

,title,score,director,cast,country,added,release,rating,duration,listed_in,description,platform
0,The Irishman,98,Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",United States,2019-11-27,2019,R,209 min,Dramas,Hit man Frank Sheeran looks back at the secret...,Netflix
1,Dangal,97,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",India,2017-06-21,2016,TV-PG,161 min,"Dramas, International Movies, Sports Movies",A once-promising wrestler pursues the gold med...,Netflix
2,David Attenborough: A Life on Our Planet,95,"Alastair Fothergill, Jonnie Hughes, Keith Scholey",David Attenborough,"United States, United Kingdom",2020-10-04,2020,PG,84 min,Documentaries,"A broadcaster recounts his life, and the evolu...",Netflix
3,The Social Dilemma,93,Jeff Orlowski,"Skyler Gisondo, Kara Hayward, Vincent Kartheiser",United States,2020-09-09,2020,PG-13,94 min,Documentaries,This documentary-drama hybrid explores the dan...,Netflix
4,Okja,92,Bong Joon Ho,"Tilda Swinton, Jake Gyllenhaal, An Seo Hyun, P...","South Korea, United States",2017-06-28,2017,TV-MA,121 min,"Action & Adventure, Comedies, Dramas",A gentle giant and the girl who raised her are...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...
6951,Most Wanted Sharks,14,NaN,NaN,NaN,2020-07-24,2020,NaN,NaN,"Documentaries, Science & Technology","Whether it's the biggest great white, the most...",Hulu
6952,Most Wanted Sharks,14,NaN,NaN,NaN,2021-07-16,2020,TV-PG,44 min,"Animals & Nature, Documentary","In Most Wanted Sharks, Jeremiah Sullivan dives...",Disney Plus
6953,Doc McStuffins: The Doc Is In,13,Chris Hamilton,"Laya DeLeon Hayes, Loretta Devine, Lara Jill M...",NaN,2021-03-12,2020,TV-Y,24 min,"Animation, Kids, Medical",Doc McStuffins helps kids learn about healthy ...,Disney Plus
6954,Ultimate Viking Sword,13,Peter Yost,Jay Sanders,NaN,2020-11-13,2019,TV-PG,45 min,"Documentary, Historical","National Geographic reconstructs the Ulfberht,...",Disney Plus
6955,Hunt for the Abominable Snowman,10,Dan Oliver,Stephen Rashbrook,NaN,2020-07-31,2011,TV-PG,45 min,Documentary,"Across the Himalayas are stories of the yeti, ...",Disney Plus

In [28]:
# Export merged_df as a CSV file.
merged_df.to_csv('../csv/cleaned_data/merged_unfinished.csv', index=False)

# Genre Splitting

In [1]:
# Import dependencies.
import pandas as pd

In [2]:
# Save the merged_unfinished CSV file path and read it into a DataFrame.
merged_csv = '../csv/cleaned_data/merged_unfinished.csv'

merged_data = pd.read_csv(merged_csv)

In [3]:
# Preview data.
merged_data

,title,score,director,cast,country,added,release,rating,duration,listed_in,description,platform
0,The Irishman,98,Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",United States,2019-11-27,2019,R,209 min,Dramas,Hit man Frank Sheeran looks back at the secret...,Netflix
1,Dangal,97,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",India,2017-06-21,2016,TV-PG,161 min,"Dramas, International Movies, Sports Movies",A once-promising wrestler pursues the gold med...,Netflix
2,David Attenborough: A Life on Our Planet,95,"Alastair Fothergill, Jonnie Hughes, Keith Scholey",David Attenborough,"United States, United Kingdom",2020-10-04,2020,PG,84 min,Documentaries,"A broadcaster recounts his life, and the evolu...",Netflix
3,The Social Dilemma,93,Jeff Orlowski,"Skyler Gisondo, Kara Hayward, Vincent Kartheiser",United States,2020-09-09,2020,PG-13,94 min,Documentaries,This documentary-drama hybrid explores the dan...,Netflix
4,Okja,92,Bong Joon Ho,"Tilda Swinton, Jake Gyllenhaal, An Seo Hyun, P...","South Korea, United States",2017-06-28,2017,TV-MA,121 min,"Action & Adventure, Comedies, Dramas",A gentle giant and the girl who raised her are...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...
6951,Most Wanted Sharks,14,NaN,NaN,NaN,2020-07-24,2020,NaN,NaN,"Documentaries, Science & Technology","Whether it's the biggest great white, the most...",Hulu
6952,Most Wanted Sharks,14,NaN,NaN,NaN,2021-07-16,2020,TV-PG,44 min,"Animals & Nature, Documentary","In Most Wanted Sharks, Jeremiah Sullivan dives...",Disney Plus
6953,Doc McStuffins: The Doc Is In,13,Chris Hamilton,"Laya DeLeon Hayes, Loretta Devine, Lara Jill M...",NaN,2021-03-12,2020,TV-Y,24 min,"Animation, Kids, Medical",Doc McStuffins helps kids learn about healthy ...,Disney Plus
6954,Ultimate Viking Sword,13,Peter Yost,Jay Sanders,NaN,2020-11-13,2019,TV-PG,45 min,"Documentary, Historical","National Geographic reconstructs the Ulfberht,...",Disney Plus
6955,Hunt for the Abominable Snowman,10,Dan Oliver,Stephen Rashbrook,NaN,2020-07-31,2011,TV-PG,45 min,Documentary,"Across the Himalayas are stories of the yeti, ...",Disney Plus

In [4]:
# Create a list of IDs to be used in our new 'ID' column.
IDs = []

for i in range(0, 6956):
    IDs.append(i+1)
    
# Create the 'ID' column and position it as the first column in the DataFrame.
merged_data.insert(0, 'ID', IDs)

In [18]:
# Preview data.
merged_data

,ID,title,score,director,cast,country,added,release,rating,duration,listed_in,description,platform
0,1,The Irishman,98,Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",United States,2019-11-27,2019,R,209 min,Drama,Hit man Frank Sheeran looks back at the secret...,Netflix
1,2,Dangal,97,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",India,2017-06-21,2016,TV-PG,161 min,"Drama, International, Sports",A once-promising wrestler pursues the gold med...,Netflix
2,3,David Attenborough: A Life on Our Planet,95,"Alastair Fothergill, Jonnie Hughes, Keith Scholey",David Attenborough,"United States, United Kingdom",2020-10-04,2020,PG,84 min,Documentaries,"A broadcaster recounts his life, and the evolu...",Netflix
3,4,The Social Dilemma,93,Jeff Orlowski,"Skyler Gisondo, Kara Hayward, Vincent Kartheiser",United States,2020-09-09,2020,PG-13,94 min,Documentaries,This documentary-drama hybrid explores the dan...,Netflix
4,5,Okja,92,Bong Joon Ho,"Tilda Swinton, Jake Gyllenhaal, An Seo Hyun, P...","South Korea, United States",2017-06-28,2017,TV-MA,121 min,"Action & Adventure, Comedies, Drama",A gentle giant and the girl who raised her are...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6951,6952,Most Wanted Sharks,14,NaN,NaN,NaN,2020-07-24,2020,NaN,NaN,"Documentaries, Science & Technology","Whether it's the biggest great white, the most...",Hulu
6952,6953,Most Wanted Sharks,14,NaN,NaN,NaN,2021-07-16,2020,TV-PG,44 min,"Animals & Nature, Documentaries","In Most Wanted Sharks, Jeremiah Sullivan dives...",Disney Plus
6953,6954,Doc McStuffins: The Doc Is In,13,Chris Hamilton,"Laya DeLeon Hayes, Loretta Devine, Lara Jill M...",NaN,2021-03-12,2020,TV-Y,24 min,"Animation, Kids, Medical",Doc McStuffins helps kids learn about healthy ...,Disney Plus
6954,6955,Ultimate Viking Sword,13,Peter Yost,Jay Sanders,NaN,2020-11-13,2019,TV-PG,45 min,"Documentaries, History","National Geographic reconstructs the Ulfberht,...",Disney Plus
6955,6956,Hunt for the Abominable Snowman,10,Dan Oliver,Stephen Rashbrook,NaN,2020-07-31,2011,TV-PG,45 min,Documentaries,"Across the Himalayas are stories of the yeti, ...",Disney Plus

In [6]:
# Clean up nomenclature for 'listed_in' column.
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Anime Features', 'Anime')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Classics', 'Classic Movies')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Comedy', 'Comedies')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Documentary', 'Documentaries')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Dramas', 'Drama')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Faith and Spirituality', 'Faith & Spirituality')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Historical', 'History')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Horror Movies', 'Horror')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('International Movies', 'International')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('+', '', regex=False)
merged_data['listed_in'] = merged_data['listed_in'].str.replace('LGBTQ Movies', 'LGBTQ')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Romantic Movies', 'Romance')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Science Fiction', 'Sci-Fi & Fantasy')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Sports Movies', 'Sports')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Stand-Up Comedies', 'Stand Up')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Thrillers', 'Thriller')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Young Adult Audience', 'Teen')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Action-Adventure', 'Action & Adventure')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('and Culture', '')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Concert Film', 'Music')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Music & Musicals', 'Music')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Music Videos and Concerts', 'Music')
merged_data['listed_in'] = merged_data['listed_in'].str.replace('Musical', 'Music')

In [7]:
# Export merged_data as a CSV file.
merged_data.to_csv('../csv/cleaned_data/merged_finished.csv', index=False)

In [8]:
# Split up genres in 'listed_in' column and divide them up individually in a new 'genres_df'.
def splitting (dataframe, col):
    result = dataframe[col].str.get_dummies(', ')
    return result

genres_df = splitting(merged_data, 'listed_in')

In [9]:
# Create the 'ID' column and position it as the first column in the DataFrame.
genres_df.insert(0, 'ID', IDs)

In [10]:
# Preview data.
genres_df

,ID,Action,Action & Adventure,Adult Animation,Adventure,Animals & Nature,Animation,Anime,Anthology,Arthouse,...,Sports,Spy/Espionage,Stand Up,Superhero,Survival,Suspense,Teen,Thriller,Variety,Western
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6951,6952,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6952,6953,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6953,6954,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6954,6955,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6955,6956,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# Drop 'type' column.
genres_df = genres_df.drop(columns=['Movies'])

In [12]:
# Data summary.
genres_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6956 entries, 0 to 6955
Data columns (total 58 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        6956 non-null   int64
 1   Action                    6956 non-null   int64
 2   Action & Adventure        6956 non-null   int64
 3   Adult Animation           6956 non-null   int64
 4   Adventure                 6956 non-null   int64
 5   Animals & Nature          6956 non-null   int64
 6   Animation                 6956 non-null   int64
 7   Anime                     6956 non-null   int64
 8   Anthology                 6956 non-null   int64
 9   Arthouse                  6956 non-null   int64
 10  Arts                      6956 non-null   int64
 11  Biographical              6956 non-null   int64
 12  Black Stories             6956 non-null   int64
 13  Buddy                     6956 non-null   int64
 14  Cartoons                  6956 non-null   int64
 15  Children & Family Movies  6956 non-null   int64
 16  Classic Movies            6956 non-null   int64
 17  Comedies                  6956 non-null   int64
 18  Coming of Age             6956 non-null   int64
 19  Crime                     6956 non-null   int64
 20  Cult Movies               6956 non-null   int64
 21  Dance                     6956 non-null   int64
 22  Disaster                  6956 non-null   int64
 23  Documentaries             6956 non-null   int64
 24  Drama                     6956 non-null   int64
 25  Entertainment             6956 non-null   int64
 26  Faith & Spirituality      6956 non-null   int64
 27  Family                    6956 non-null   int64
 28  Fantasy                   6956 non-null   int64
 29  History                   6956 non-null   int64
 30  Horror                    6956 non-null   int64
 31  Independent Movies        6956 non-null   int64
 32  International             6956 non-null   int64
 33  Kids                      6956 non-null   int64
 34  LGBTQ                     6956 non-null   int64
 35  Lifestyle & Culture       6956 non-null   int64
 36  Medical                   6956 non-null   int64
 37  Military and War          6956 non-null   int64
 38  Music                     6956 non-null   int64
 39  Mystery                   6956 non-null   int64
 40  News                      6956 non-null   int64
 41  Parody                    6956 non-null   int64
 42  Reality                   6956 non-null   int64
 43  Romance                   6956 non-null   int64
 44  Romantic Comedies         6956 non-null   int64
 45  Sci-Fi & Fantasy          6956 non-null   int64
 46  Science & Technology      6956 non-null   int64
 47  Special Interest          6956 non-null   int64
 48  Sports                    6956 non-null   int64
 49  Spy/Espionage             6956 non-null   int64
 50  Stand Up                  6956 non-null   int64
 51  Superhero                 6956 non-null   int64
 52  Survival                  6956 non-null   int64
 53  Suspense                  6956 non-null   int64
 54  Teen                      6956 non-null   int64
 55  Thriller                  6956 non-null   int64
 56  Variety                   6956 non-null   int64
 57  Western                   6956 non-null   int64
dtypes: int64(58)
memory usage: 3.1 MB

In [13]:
# Export 'genres_df' as a CSV file.
genres_df.to_csv('../csv/cleaned_data/genres.csv', index=False)

# Genre Splitting ALT

In [13]:
# Import dependencies.
import pandas as pd

# Save both CSV file paths and read them into separate DataFrames.
merged_csv = '../csv/cleaned_data/merged_finished.csv'
merged_data = pd.read_csv(merged_csv)

genres_csv = '../csv/cleaned_data/genres.csv'
genres_data = pd.read_csv(genres_csv)

In [14]:
# Preview data.
merged_data

,ID,title,score,director,cast,country,added,release,rating,duration,listed_in,description,platform
0,1,The Irishman,98,Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",United States,2019-11-27,2019,R,209 min,Drama,Hit man Frank Sheeran looks back at the secret...,Netflix
1,2,Dangal,97,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",India,2017-06-21,2016,TV-PG,161 min,"Drama, International, Sports",A once-promising wrestler pursues the gold med...,Netflix
2,3,David Attenborough: A Life on Our Planet,95,"Alastair Fothergill, Jonnie Hughes, Keith Scholey",David Attenborough,"United States, United Kingdom",2020-10-04,2020,PG,84 min,Documentaries,"A broadcaster recounts his life, and the evolu...",Netflix
3,4,The Social Dilemma,93,Jeff Orlowski,"Skyler Gisondo, Kara Hayward, Vincent Kartheiser",United States,2020-09-09,2020,PG-13,94 min,Documentaries,This documentary-drama hybrid explores the dan...,Netflix
4,5,Okja,92,Bong Joon Ho,"Tilda Swinton, Jake Gyllenhaal, An Seo Hyun, P...","South Korea, United States",2017-06-28,2017,TV-MA,121 min,"Action & Adventure, Comedies, Drama",A gentle giant and the girl who raised her are...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6951,6952,Most Wanted Sharks,14,NaN,NaN,NaN,2020-07-24,2020,NaN,NaN,"Documentaries, Science & Technology","Whether it's the biggest great white, the most...",Hulu
6952,6953,Most Wanted Sharks,14,NaN,NaN,NaN,2021-07-16,2020,TV-PG,44 min,"Animals & Nature, Documentaries","In Most Wanted Sharks, Jeremiah Sullivan dives...",Disney Plus
6953,6954,Doc McStuffins: The Doc Is In,13,Chris Hamilton,"Laya DeLeon Hayes, Loretta Devine, Lara Jill M...",NaN,2021-03-12,2020,TV-Y,24 min,"Animation, Kids, Medical",Doc McStuffins helps kids learn about healthy ...,Disney Plus
6954,6955,Ultimate Viking Sword,13,Peter Yost,Jay Sanders,NaN,2020-11-13,2019,TV-PG,45 min,"Documentaries, History","National Geographic reconstructs the Ulfberht,...",Disney Plus
6955,6956,Hunt for the Abominable Snowman,10,Dan Oliver,Stephen Rashbrook,NaN,2020-07-31,2011,TV-PG,45 min,Documentaries,"Across the Himalayas are stories of the yeti, ...",Disney Plus

In [15]:
# Convert 'added' column into datetime format.
merged_data['added'] = merged_data['added'].str.replace('-', '')

merged_data['added'] = pd.to_datetime(merged_data['added'], format='%Y%m%d')

In [16]:
# Preview data types.
merged_data.dtypes

ID                      int64
title                  object
score                   int64
director               object
cast                   object
country                object
added          datetime64[ns]
release                 int64
rating                 object
duration               object
listed_in              object
description            object
platform               object
dtype: object

## Horizontal Version

In [17]:
# Preview data.
genres_data

,ID,Action,Action & Adventure,Adult Animation,Adventure,Animals & Nature,Animation,Anime,Anthology,Arthouse,...,Sports,Spy/Espionage,Stand Up,Superhero,Survival,Suspense,Teen,Thriller,Variety,Western
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6951,6952,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6952,6953,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6953,6954,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6954,6955,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6955,6956,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# Merge 'merged_data' and 'genres_data' together.
complete_horizontal = merged_data.merge(genres_data, on='ID')

In [19]:
# Drop the 'listed_in' column since it is now obsolete because of the data from 'genres_data'.
complete_horizontal = complete_horizontal.drop(columns=['listed_in'])
complete_horizontal

,ID,title,score,director,cast,country,added,release,rating,duration,...,Sports,Spy/Espionage,Stand Up,Superhero,Survival,Suspense,Teen,Thriller,Variety,Western
0,1,The Irishman,98,Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",United States,2019-11-27,2019,R,209 min,...,0,0,0,0,0,0,0,0,0,0
1,2,Dangal,97,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",India,2017-06-21,2016,TV-PG,161 min,...,1,0,0,0,0,0,0,0,0,0
2,3,David Attenborough: A Life on Our Planet,95,"Alastair Fothergill, Jonnie Hughes, Keith Scholey",David Attenborough,"United States, United Kingdom",2020-10-04,2020,PG,84 min,...,0,0,0,0,0,0,0,0,0,0
3,4,The Social Dilemma,93,Jeff Orlowski,"Skyler Gisondo, Kara Hayward, Vincent Kartheiser",United States,2020-09-09,2020,PG-13,94 min,...,0,0,0,0,0,0,0,0,0,0
4,5,Okja,92,Bong Joon Ho,"Tilda Swinton, Jake Gyllenhaal, An Seo Hyun, P...","South Korea, United States",2017-06-28,2017,TV-MA,121 min,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6951,6952,Most Wanted Sharks,14,NaN,NaN,NaN,2020-07-24,2020,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
6952,6953,Most Wanted Sharks,14,NaN,NaN,NaN,2021-07-16,2020,TV-PG,44 min,...,0,0,0,0,0,0,0,0,0,0
6953,6954,Doc McStuffins: The Doc Is In,13,Chris Hamilton,"Laya DeLeon Hayes, Loretta Devine, Lara Jill M...",NaN,2021-03-12,2020,TV-Y,24 min,...,0,0,0,0,0,0,0,0,0,0
6954,6955,Ultimate Viking Sword,13,Peter Yost,Jay Sanders,NaN,2020-11-13,2019,TV-PG,45 min,...,0,0,0,0,0,0,0,0,0,0
6955,6956,Hunt for the Abominable Snowman,10,Dan Oliver,Stephen Rashbrook,NaN,2020-07-31,2011,TV-PG,45 min,...,0,0,0,0,0,0,0,0,0,0

## Vertical Version

In [20]:
# Create a list of all genres for each movie by dividing up the strings in the 'listed_in' column.
new_list = merged_data['listed_in'].str.split(', ').to_list()

In [21]:
# Drop the old 'listed_in' column.
merged_data = merged_data.drop(columns=['listed_in'])
merged_data

,ID,title,score,director,cast,country,added,release,rating,duration,description,platform
0,1,The Irishman,98,Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",United States,2019-11-27,2019,R,209 min,Hit man Frank Sheeran looks back at the secret...,Netflix
1,2,Dangal,97,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",India,2017-06-21,2016,TV-PG,161 min,A once-promising wrestler pursues the gold med...,Netflix
2,3,David Attenborough: A Life on Our Planet,95,"Alastair Fothergill, Jonnie Hughes, Keith Scholey",David Attenborough,"United States, United Kingdom",2020-10-04,2020,PG,84 min,"A broadcaster recounts his life, and the evolu...",Netflix
3,4,The Social Dilemma,93,Jeff Orlowski,"Skyler Gisondo, Kara Hayward, Vincent Kartheiser",United States,2020-09-09,2020,PG-13,94 min,This documentary-drama hybrid explores the dan...,Netflix
4,5,Okja,92,Bong Joon Ho,"Tilda Swinton, Jake Gyllenhaal, An Seo Hyun, P...","South Korea, United States",2017-06-28,2017,TV-MA,121 min,A gentle giant and the girl who raised her are...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...
6951,6952,Most Wanted Sharks,14,NaN,NaN,NaN,2020-07-24,2020,NaN,NaN,"Whether it's the biggest great white, the most...",Hulu
6952,6953,Most Wanted Sharks,14,NaN,NaN,NaN,2021-07-16,2020,TV-PG,44 min,"In Most Wanted Sharks, Jeremiah Sullivan dives...",Disney Plus
6953,6954,Doc McStuffins: The Doc Is In,13,Chris Hamilton,"Laya DeLeon Hayes, Loretta Devine, Lara Jill M...",NaN,2021-03-12,2020,TV-Y,24 min,Doc McStuffins helps kids learn about healthy ...,Disney Plus
6954,6955,Ultimate Viking Sword,13,Peter Yost,Jay Sanders,NaN,2020-11-13,2019,TV-PG,45 min,"National Geographic reconstructs the Ulfberht,...",Disney Plus
6955,6956,Hunt for the Abominable Snowman,10,Dan Oliver,Stephen Rashbrook,NaN,2020-07-31,2011,TV-PG,45 min,"Across the Himalayas are stories of the yeti, ...",Disney Plus

In [22]:
# Add the new 'listed_in' column.
merged_data.insert(10, 'listed_in', new_list)
merged_data

,ID,title,score,director,cast,country,added,release,rating,duration,listed_in,description,platform
0,1,The Irishman,98,Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",United States,2019-11-27,2019,R,209 min,[Drama],Hit man Frank Sheeran looks back at the secret...,Netflix
1,2,Dangal,97,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",India,2017-06-21,2016,TV-PG,161 min,"[Drama, International, Sports]",A once-promising wrestler pursues the gold med...,Netflix
2,3,David Attenborough: A Life on Our Planet,95,"Alastair Fothergill, Jonnie Hughes, Keith Scholey",David Attenborough,"United States, United Kingdom",2020-10-04,2020,PG,84 min,[Documentaries],"A broadcaster recounts his life, and the evolu...",Netflix
3,4,The Social Dilemma,93,Jeff Orlowski,"Skyler Gisondo, Kara Hayward, Vincent Kartheiser",United States,2020-09-09,2020,PG-13,94 min,[Documentaries],This documentary-drama hybrid explores the dan...,Netflix
4,5,Okja,92,Bong Joon Ho,"Tilda Swinton, Jake Gyllenhaal, An Seo Hyun, P...","South Korea, United States",2017-06-28,2017,TV-MA,121 min,"[Action & Adventure, Comedies, Drama]",A gentle giant and the girl who raised her are...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6951,6952,Most Wanted Sharks,14,NaN,NaN,NaN,2020-07-24,2020,NaN,NaN,"[Documentaries, Science & Technology]","Whether it's the biggest great white, the most...",Hulu
6952,6953,Most Wanted Sharks,14,NaN,NaN,NaN,2021-07-16,2020,TV-PG,44 min,"[Animals & Nature, Documentaries]","In Most Wanted Sharks, Jeremiah Sullivan dives...",Disney Plus
6953,6954,Doc McStuffins: The Doc Is In,13,Chris Hamilton,"Laya DeLeon Hayes, Loretta Devine, Lara Jill M...",NaN,2021-03-12,2020,TV-Y,24 min,"[Animation, Kids, Medical]",Doc McStuffins helps kids learn about healthy ...,Disney Plus
6954,6955,Ultimate Viking Sword,13,Peter Yost,Jay Sanders,NaN,2020-11-13,2019,TV-PG,45 min,"[Documentaries, History]","National Geographic reconstructs the Ulfberht,...",Disney Plus
6955,6956,Hunt for the Abominable Snowman,10,Dan Oliver,Stephen Rashbrook,NaN,2020-07-31,2011,TV-PG,45 min,[Documentaries],"Across the Himalayas are stories of the yeti, ...",Disney Plus

In [23]:
# Expand our DataFrame by each genre of each movie in the 'listed_in' column.
complete_vertical = merged_data.explode('listed_in').reset_index(drop=True)
complete_vertical

,ID,title,score,director,cast,country,added,release,rating,duration,listed_in,description,platform
0,1,The Irishman,98,Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",United States,2019-11-27,2019,R,209 min,Drama,Hit man Frank Sheeran looks back at the secret...,Netflix
1,2,Dangal,97,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",India,2017-06-21,2016,TV-PG,161 min,Drama,A once-promising wrestler pursues the gold med...,Netflix
2,2,Dangal,97,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",India,2017-06-21,2016,TV-PG,161 min,International,A once-promising wrestler pursues the gold med...,Netflix
3,2,Dangal,97,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",India,2017-06-21,2016,TV-PG,161 min,Sports,A once-promising wrestler pursues the gold med...,Netflix
4,3,David Attenborough: A Life on Our Planet,95,"Alastair Fothergill, Jonnie Hughes, Keith Scholey",David Attenborough,"United States, United Kingdom",2020-10-04,2020,PG,84 min,Documentaries,"A broadcaster recounts his life, and the evolu...",Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15369,6954,Doc McStuffins: The Doc Is In,13,Chris Hamilton,"Laya DeLeon Hayes, Loretta Devine, Lara Jill M...",NaN,2021-03-12,2020,TV-Y,24 min,Kids,Doc McStuffins helps kids learn about healthy ...,Disney Plus
15370,6954,Doc McStuffins: The Doc Is In,13,Chris Hamilton,"Laya DeLeon Hayes, Loretta Devine, Lara Jill M...",NaN,2021-03-12,2020,TV-Y,24 min,Medical,Doc McStuffins helps kids learn about healthy ...,Disney Plus
15371,6955,Ultimate Viking Sword,13,Peter Yost,Jay Sanders,NaN,2020-11-13,2019,TV-PG,45 min,Documentaries,"National Geographic reconstructs the Ulfberht,...",Disney Plus
15372,6955,Ultimate Viking Sword,13,Peter Yost,Jay Sanders,NaN,2020-11-13,2019,TV-PG,45 min,History,"National Geographic reconstructs the Ulfberht,...",Disney Plus
15373,6956,Hunt for the Abominable Snowman,10,Dan Oliver,Stephen Rashbrook,NaN,2020-07-31,2011,TV-PG,45 min,Documentaries,"Across the Himalayas are stories of the yeti, ...",Disney Plus

In [24]:
# Export both complete DataFrames as CSV files.
complete_horizontal.to_csv('../csv/complete_data/complete_horizontal.csv', index=False)

complete_vertical.to_csv('../csv/complete_data/complete_vertical.csv', index=False)